:root {
}

.power {
    -unity-text-align: upper-center;
    margin-left: 5px;
    margin-right: 5px;
    flex-grow: 1;
    align-items: center;
    justify-content: flex-start;
}

.closeButton {
    background-image: url("project://database/Assets/Art%20Assets/UI/Controls/Close%20Button.png?fileID=2800000&guid=d79714767b2625c44b235a97b856ed3d&type=3#Close Button");
    border-left-color: rgba(0, 0, 0, 0);
    border-right-color: rgba(0, 0, 0, 0);
    border-top-color: rgba(0, 0, 0, 0);
    border-bottom-color: rgba(0, 0, 0, 0);
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    border-bottom-width: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.closeButton:hover {
    background-image: url("project://database/Assets/Art%20Assets/UI/Controls/Close%20Button_Hovered.png?fileID=2800000&guid=6b402236f92c6af4a92b2afddfbf6360&type=3#Close Button_Hovered");
    border-left-color: rgba(0, 0, 0, 0);
    border-right-color: rgba(0, 0, 0, 0);
    border-top-color: rgba(0, 0, 0, 0);
    border-bottom-color: rgba(0, 0, 0, 0);
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    border-bottom-width: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.powerUnlock {
    flex-grow: 1;
    align-self: center;
    justify-content: center;
    align-items: flex-start;
    width: 1920px;
    height: 1080px;
}

.powerUnlock.title {
    align-items: auto;
    justify-content: flex-end;
    align-content: auto;
    flex-grow: 1;
    align-self: flex-start;
    width: 580px;
    position: absolute;
    height: 122px;
    top: 127px;
    left: 148px;
    margin-left: 34px;
}

.powerUnlock.panel {
    align-items: center;
    align-self: center;
    align-content: center;
    width: 1227px;
    justify-content: center;
    position: absolute;
    top: 20%;
    left: 15%;
    right: 15%;
    bottom: 6%;
    border-left-color: rgba(0, 0, 0, 0);
    border-right-color: rgba(0, 0, 0, 0);
    border-top-color: rgba(0, 0, 0, 0);
    border-bottom-color: rgba(0, 0, 0, 0);
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    border-bottom-width: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    height: 735px;
    margin-top: 162px;
}

.unity-button {
    border-left-color: rgba(0, 0, 0, 0);
    border-right-color: rgba(0, 0, 0, 0);
    border-top-color: rgba(0, 0, 0, 0);
    border-bottom-color: rgba(0, 0, 0, 0);
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    border-bottom-width: 0;
    background-color: rgba(0, 0, 0, 0);
}

.unity-button:hover {
    border-left-color: rgba(0, 0, 0, 0);
    border-right-color: rgba(0, 0, 0, 0);
    border-top-color: rgba(0, 0, 0, 0);
    border-bottom-color: rgba(0, 0, 0, 0);
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    border-bottom-width: 0;
    background-color: rgba(0, 0, 0, 0);
}

.unity-button:active {
    border-left-color: rgba(0, 0, 0, 0);
    border-right-color: rgba(0, 0, 0, 0);
    border-top-color: rgba(0, 0, 0, 0);
    border-bottom-color: rgba(0, 0, 0, 0);
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    border-bottom-width: 0;
    background-color: rgba(0, 0, 0, 0);
}

.unity-button:focus {
    border-left-color: rgba(0, 0, 0, 0);
    border-right-color: rgba(0, 0, 0, 0);
    border-top-color: rgba(0, 0, 0, 0);
    border-bottom-color: rgba(0, 0, 0, 0);
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    border-bottom-width: 0;
    background-color: rgba(0, 0, 0, 0);
}

.powerUnlock.panel:hover {
    align-items: center;
    align-self: center;
    align-content: center;
    width: 1393px;
    justify-content: center;
    position: absolute;
    top: 20%;
    left: 15%;
    right: 15%;
    bottom: 6%;
    border-left-color: rgba(0, 0, 0, 0);
    border-right-color: rgba(0, 0, 0, 0);
    border-top-color: rgba(0, 0, 0, 0);
    border-bottom-color: rgba(0, 0, 0, 0);
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    border-bottom-width: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.powerUnlock.panel:active {
    align-items: center;
    align-self: center;
    align-content: center;
    width: 1393px;
    justify-content: center;
    position: absolute;
    top: 20%;
    left: 15%;
    right: 15%;
    bottom: 6%;
    border-left-color: rgba(0, 0, 0, 0);
    border-right-color: rgba(0, 0, 0, 0);
    border-top-color: rgba(0, 0, 0, 0);
    border-bottom-color: rgba(0, 0, 0, 0);
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    border-bottom-width: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.powerUnlock.panel:focus {
    align-items: center;
    align-self: center;
    align-content: center;
    width: 1393px;
    justify-content: center;
    position: absolute;
    top: 20%;
    left: 15%;
    right: 15%;
    bottom: 6%;
    border-left-color: rgba(0, 0, 0, 0);
    border-right-color: rgba(0, 0, 0, 0);
    border-top-color: rgba(0, 0, 0, 0);
    border-bottom-color: rgba(0, 0, 0, 0);
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    border-bottom-width: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
