:root {
    position: relative;
}

.header {
    width: auto;
    font-size: 300px;
}

.button {
    width: 200px;
    height: 100px;
    font-size: 50px;
    align-content: center;
    align-self: center;
    align-items: center;
    margin-top: 44px;
    margin-bottom: 20px;
}

.SettingsMenu {
    position: absolute;
    visibility: visible;
}

.MainMenu {
    position: absolute;
}

.ControlsMenu {
    position: absolute;
    visibility: visible;
}

.settingSlider {
    align-items: center;
    font-size: 39px;
    -unity-text-align: upper-center;
    align-content: center;
    max-width: none;
    right: auto;
    left: auto;
    justify-content: flex-start;
    flex-grow: 1;
    align-self: center;
    background-image: url("project://database/Assets/Art%20Assets/UI/Main%20Menu/Slider_Empty.png?fileID=2800000&guid=2abab9060ebcb8c43a9c00c39b4d5aff&type=3#Slider_Empty");
    min-width: auto;
    min-height: auto;
}

.text {
    -unity-font-definition: url("project://database/Assets/UI%20Toolkit/Fonts/Zyzol.otf?fileID=12800000&guid=82db8662a4d71c74eaee21d3daa362c5&type=3#Zyzol");
    color: rgb(255, 255, 255);
    -unity-text-outline-width: 2px;
    -unity-text-outline-color: rgb(0, 0, 0);
}

.settingSlider #unity-drag-container {
    justify-content: space-around;
    align-content: center;
    align-self: center;
    align-items: stretch;
    background-image: url("project://database/Assets/Art%20Assets/UI/Main%20Menu/Slider_Empty.png?fileID=2800000&guid=2abab9060ebcb8c43a9c00c39b4d5aff&type=3#Slider_Empty");
    position: relative;
    top: 0;
    flex-grow: 1;
}

.settingSlider #unity-tracker {
    opacity: 1;
    position: relative;
    justify-content: flex-start;
    align-self: auto;
    top: 0;
    align-content: auto;
    align-items: auto;
    flex-grow: 1;
}

.settingSlider #unity-fill {
}

.SliderBin {
    flex-grow: 1;
    flex-direction: row;
    background-image: url("project://database/Assets/Art%20Assets/UI/Main%20Menu/Panel_Long.png?fileID=2800000&guid=1af5a7cc2af8a2c4bb136c57ec48c4f7&type=3#Panel_Long");
    justify-content: center;
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 5px;
    margin-top: 14px;
    margin-left: 300px;
    margin-right: 300px;
    max-height: 88px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.SliderBin Label {
    font-size: 31px;
    -unity-text-align: middle-left;
    min-width: 371px;
    -unity-font-definition: url("project://database/Assets/UI%20Toolkit/Fonts/Zyzol.otf?fileID=12800000&guid=82db8662a4d71c74eaee21d3daa362c5&type=3#Zyzol");
    color: rgb(255, 255, 255);
    -unity-text-outline-width: 3px;
    -unity-text-outline-color: rgb(0, 0, 0);
    -unity-font-style: bold;
    letter-spacing: -9px;
}
